.filter.filter--isOpen.price__filter .filter--head {
     padding-bottom: 6px;
}

.range__slider--wrapper {
     width: 250px;
     padding: 12px 18px 18px;
}

.range__slider--wrapper .range__slider--head {
     display: flex;
     justify-content: space-between;
     margin-bottom: 18px;
}
.range__slider--wrapper .range__slider--head p {
     margin: 0;
}
.range__slider--head--label {
     font-size: 12px;
     font-weight: 600;
     color: #707070;
}
.range__slider--head--value {
     font-size: 14px;
     font-weight: 600;
     color: #333333;
     font-family: 'Montserrat', sans-serif;
}
.input-range__track {
     background: #D9D9D9;
     height: 5px;
}
.input-range__track--active {
     background: #6C43BA;
}
.input-range__slider {
     border: solid 1px #D9D9D9;
     background: #fff;
     width: 21px;
     height: 21px;
     border: 1px solid #d9d9d9;
     box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);

     margin-left: -0.5rem;
     margin-top: -14px;
}
.input-range__slider:active {
     transform: scale(1.1);
     box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
 }