.categories--wrapper {
     display: flex;
}
.categories--wrapper ul {
     width: 150px;
     margin: 0;
     padding: 9px;
     list-style: none;
}
.categories--wrapper ul li {
     width: 100%;
}
.categories--wrapper ul li div {
     min-height: 18px;
     margin: 3px 0 0;
     font-size: 14px;
     padding: 3px 0;
     border-radius: 3px;
     transition: .3s;
     opacity: 0.8;
     display: flex;
     justify-content: flex-start;
}
.categories--wrapper ul li div > i {
     flex: 0;
     display: block;
     margin-right: 3px;
     line-height: 18px;
}
.categories--wrapper ul li div > span {
     flex: 1 1 auto;
}
.categories--wrapper ul li div:hover {
     opacity: 1;
     background: #E6E6E6;
}