#main__content {
     padding: 140px 81px 93px;
}

#main__content .page__info .bread__crumb a {
     color: #707070;
}
#main__content .page__info .bread__crumb a:hover {
     color: #333;
}
#main__content .page__info h2 {
     font-size: 36px;
     color: #212121;
     font-family: 'Montserrat', sans-serif;
}
#main__content .product__container {
     display: flex;
     flex-wrap: wrap;
     margin-left: -9px;
}