.pill--wrapper {
     margin: 0 -3px -9px;
     display: flex; 
     flex-wrap: wrap;
}
.pill--wrapper .pill {
     flex: 0 auto;
     background: #E6E6E6;
     border: 1px solid #D9D9D9;
     border-radius: 20px;
     margin: 0 3px 9px;
     display: flex;
     overflow: hidden;
}

.pill--wrapper .pill > *{
     flex: 0 0 auto;
}
.pill--wrapper .pill--content {
     padding: 6px 9px 6px 12px;
     font-size: 14px;
     font-weight: 600;
     color: #707070;
}
.pill--wrapper button {
     border: none;
     height: 100%;
     padding: 0 12px 0 9px;
     background: #E6E6E6;
     color: #707070;
     opacity: .5;
     transition: opacity .3s;
     cursor: pointer;
}
.pill--wrapper button:hover {
     opacity: 1;
}