.flex-wrapper {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 9px 6px;
}
.flex-wrapper .flex-item {
     flex: 0 auto;
     width: 30px;
     height: 30px;
     border-radius: 20px;
     margin: 3px 1px;
     border: 2px solid #fff;
     display: block;
}
.flex-wrapper .flex-item:hover {
     border-color: #1EF0C3;
}
.flex-wrapper .flex-item i {
     color: #fff;
     text-align: center;
     width: 100%;
     font-size: 12px;
}