#filter__container {
     position: relative;
     min-height: 47px;
     margin: 63px 0 36px;
}
#filter__container .filter--wrapper {
     display: flex;
     margin: 0 -9px 18px;
     z-index: 10;
}
#filter__container .filter--wrapper > * {
     flex: 0;
     margin: 0 9px;
}