.filter {
     border-radius: 3px;
     font-family: 'Open Sans', sans-serif;
     cursor: pointer;
     margin: 36px 0;
     transition: .3s;
     
     height: 100%;
     position: relative;
}

.filter .filter--head {
     transition: .3s;
     padding: 0 18px 0 9px;
     height: 45px;
     border-radius: 3px;
     border: solid #ccc 1px;
     width: fit-content;

     /* box-sizing: border-box; */
}
.filter .filter--head p {
     font-size: 18px;
     line-height: 45px;
     padding: 0 18px;
     margin: 0;
     display: inline;
     color: #333;
     font-weight: 800;

}
.filter .filter--head i {
     color: #CCCCCC;
}

.filter.filter--isSelected .filter--head {
     border-color: #00CEA2;
}
.filter.filter--isSelected .filter--head p {
     color: #00CEA2;
}
     
.filter:hover .filter--head {
     background: #1a1a1a;
     border-color: #1a1a1a;
}
.filter:hover .filter--head p,
.filter:hover .filter--head i {
     color: #fff;
}

.filter.filter--isOpen .filter--head {
     background: #333;
}
.filter.filter--isOpen .filter--head p,
.filter.filter--isOpen .filter--head i {
     color: #ccc;
}

.filter .filter--body {
     -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.16);
     -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.16);
     box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.16);
     background: #fff;
     border: 1px solid #ccc;
     margin-top: -1px;
     position: absolute;
     z-index: 10;
     /* position: absolute;
     width: 100%;
     box-sizing: border-box; */
}

