ul {
     margin: 0;
     padding: 9px;
     list-style: none;
}
ul div {
     min-height: 18px;
     margin: 3px 0 0;
     font-size: 14px;
     padding: 3px 9px;
     border-radius: 3px;
     transition: .3s;
     opacity: 0.8;
     display: flex;
     justify-content: flex-start;
}
ul div > i {
     flex: 0;
     display: block;
     margin-right: 3px;

}
ul div > span {
     flex: 1 1 auto;
}
ul div:hover {
     opacity: 1;
     background: #E6E6E6;
}