
.product__card {
     flex: 0 0 calc(20% - 9px);
     /* flex: 1 1 200px; */
     margin:  18px 0 0px 9px;
     background: #fff;
     display: flex;
     flex-direction: column;
     border-radius: 3px;
     overflow: hidden;
     cursor: pointer;
}

/* #region IMG */
.product__card .product__img--wrapper {
     width: 100%;
     border-width: 1px;
     border-style: solid;
     border-color: #ccc;
     box-sizing: border-box;
     border-radius: 3px;
     overflow: hidden;
}
.product__card .product__img--wrapper img {
     width: 100%;
}
/* #endregion IMG */

/* #region CONTEUDO */
.product__card .product__card--content {
     padding: 9px 9px 18px;
     border-style: solid;
     border-color: #fff;
     border-width: 0;
     border-width: 0 1px;

}
.product__card .product__card--content h6 {
     font-family: "Montserrat", sans-serif;
     font-weight: bold;
     font-size: 12px;
     line-height: 14px;
     color: #333;

     height: 24px;
     margin: 0 0 18px;
}
.product__card .product__card--content .content--rate {
     font-size: 10px;
}
.product__card .product__card--content .content--rate i {
     margin-right: 2px;
}
.product__card .product__card--content .content--rate span {
     margin-left: 7px;
     color: #707070;
}
.product__card .product__card--content .content--price {
     font-family: 'Montserrat', sans-serif;
}
.product__card .product__card--content .content--price .price--to {
     font-weight: bold;
     font-size: 14px;
     color: #00b28c;

}
.product__card .product__card--content .content--price .price--from {
     font-size: 12px;
     color: #707070;
     text-decoration: line-through;
     margin-left: 19px;

}
.product__card button {
     display: none;
     width: 100%;
     height: 45px;
     margin: 0;

     background: #00CEA2;
     border: none;

     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     font-size: 14px;
     color: #fff;
     letter-spacing: 1px;

     cursor: pointer;
     opacity: .8;
     transition: .3s;
}
/* #endregion CONTEUDO */

/* Interação */
.product__card:hover {
     margin-bottom: -45px;
     position: relative;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.product__card:hover button {
     display: block;
}
.product__card button:hover {
     opacity: 1;
}

.product__card:hover .product__card--content {
     border-color: #ccc;
}
